<?xml version="1.0"?>
<config>
  <modules>
    <Neuralink_EpayphPaymentModule>
      <version>0.0.1</version>
    </Neuralink_EpayphPaymentModule>
  </modules>
  <global>
  	<resources>
	  	<EpayphPaymentModule_setup>
	  	  <setup>
		  	  <module>Neuralink_EpayphPaymentModule</module>
		  	  <class>Mage_Core_Model_Resource_Setup</class>
	  	  </setup>
          <connection>
            <use>core_setup</use>
          </connection>
	  	</EpayphPaymentModule_setup>
  	</resources>
    <models>
      <epayphPaymentModule>
        <class>Neuralink_EpayphPaymentModule_Model</class>
      </epayphPaymentModule>
    </models>
    <helpers>
      <epayphPaymentModule>
        <class>Neuralink_EpayphPaymentModule_Helper</class>
      </epayphPaymentModule>
    </helpers>
    <blocks>
      <epayphPaymentModule>
        <class>Neuralink_EpayphPaymentModule_Block</class>
      </epayphPaymentModule>
    </blocks>
  </global>
  <default>
    <payment>
      <epayphPaymentModule>
        <model>epayphPaymentModule/standard</model>
        <active>1</active>
        <epayphTestMode>0</epayphTestMode>
        <order_status>pending</order_status>
        <title>Epay.ph</title>
        <payment_action>sale</payment_action>
        <epayphGuestCheckout>1</epayphGuestCheckout>
        <showEpayphLogo>1</showEpayphLogo>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </epayphPaymentModule>
    </payment>
  </default>
  <frontend>
    <routers>
      <epayphPaymentModule>
        <use>standard</use>
        <args>
          <module>Neuralink_EpayphPaymentModule</module>
          <frontName>epayphPaymentModule</frontName>
        </args>
      </epayphPaymentModule>
    </routers>
  </frontend>
</config>
